body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;

}

p {
	text-align: justify;
	line-height: 1.5;
}

span {
	font-weight: bold;
}

#red {
	color: red;
}

#yellow {
	color: yellow;
}

#text {
	width: 560px;
	margin: 0 auto;
	color: white;
	text-align: center;
}

#container {
    width: 560px;
    height: 530px; 
    margin: 0 auto;
    gap: 15px; /* shorthand for row-gap and column-gap*/
    align-content:start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:start;
}

#controls {
    width: 560px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#detailsData {
    width: 560px;
    margin: 0 auto;
    color:white;
}

.box {
	width: 	40px;
	height: 30px;
	background-color: black;
	color: grey;
	border: 1px solid grey;
	display: flex;
	align-items:center;
    justify-content:center;
    
}

#counter {
    width:  40px;
    height: 35px;
    background-color: black;
    color: grey;
    border: 1px solid grey;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-right: 7px;
    color: yellow;
    font-weight: bold;
}

.room {
 line-height: normal;   
}

#switch {
	background-color: black;
    color: yellow;
    border-color: yellow;
    padding: 0px 15px;
}

#switch:active {
  background-color: yellow;
  border-color: red;
  color: black;
  font-weight: bold;
/*  transform: scale(0.8);*/
}

#switch:disabled {
  background-color: rgb(242, 236, 153);
  border-color: rgb(242, 236, 153);
  color: grey;
  font-weight: bold;
/*  transform: scale(0.8);*/
}

#cancel {
    background-color: black;
    color: white;
    border-color: white;
    padding: 0px 15px;
    margin-left: -10px;

}
#cancel:active {
    background-color: white;
    color: black;
    border-color: white;
    padding: 0px 15px;
}

#solution {
    background-color: black;
    color: red;
    border-color: red;
    padding: 0px 15px;
    margin-left: -10px;

}
#solution:active {
	background-color: red;
    color: black;
    border-color: red;
    font-weight: bold;
}

#solution:disabled {
    background-color: rgb(237, 173, 175);
    color: grey;
    border-color: rgb(237, 173, 175);
    font-weight: bold;
}

#details {
    background-color: black;
    color: green;
    border-color: green;
    font-weight: bold;
    padding: 0px 15px;
    margin-left: -10px;

}
#details:active {
    background-color: green;
    color: black;
    border-color: green;
    font-weight: bold;
}

#details:disabled {
    background-color: rgb(208, 247, 190);
    color: grey;
    border-color: rgb(208, 247, 190);
    font-weight: bold;
}
